.header {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}

.post-loader {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.course-content {
  width: 90%;
  max-width: 900px;
  margin-top: 0;
  margin-left: 70px;
  background: white;
  font-size: 0.8em;
}
.lesson-modal {
  max-width: 500px;
  min-height: 500px;
}
#clicked-content {
  color: rgb(0, 157, 255);
  background: #f7f7f7;
}
.single-course-btn {
  display: flex;
}
.single-course-btn svg {
  font-size: 1.5em;
  margin: 0 5px;
}
.single-course-btn svg:hover {
  color: black;
}
.course-content::-webkit-scrollbar {
  width: 5px;
}
.course-content::-webkit-scrollbar-track {
  background: whitesmoke;
}
.course-content::-webkit-scrollbar-thumb {
  background: lightgray;
}
.delete-modal-wrapper {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}
.lesson-delete-modal-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.lesson-delete-modal-btn button {
  background: rgb(0, 157, 255);
}
.lesson_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f4f4f4;
  cursor: pointer;
  padding: 15px 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
}
.edit-modal-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
}
.lesson-custom-checkbox {
  border: none;
  outline: none;
  display: grid;
  place-items: center;
  color: inherit;
  background: inherit;
  width: 20px;
  height: 20px;
  font-size: 1.5em;
  margin-right: 5px;
}
.add-lesson-btn,
.edit-modal-btn button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: none;
  outline: none;
  font-size: 1em;
  width: 100px;
  height: 30px;
  background: rgb(0, 157, 255);
  color: white;
  cursor: pointer;
}
.add-lesson-btn:hover {
  border: 1px solid black;
  background: white;
  color: black;
}
.lesson-custom-checkbox:focus {
  border: none;
  outline: none;
}

.lesson_name h5 {
  font-size: 1em;
  font-weight: 600;
}

.course-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 400;
  height: 50px;
}

.course-content-header h4 {
  font-size: 1em;
  font-weight: 650;
  margin-bottom: 0;
}

.course-title {
  font-size: 1.2em;
  font-weight: 650;
  padding: 10px;
  margin-bottom: 0;
  color: black;
  background: rgb(0, 0, 0, 0.1);
}

.lesson_name button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: inherit;
  cursor: pointer;
  color: gray;
  border-radius: 50%;
}

.single-lesson-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px;
  font-size: 0.9em;
  font-weight: 500;
}
.single-lesson-content:hover {
  background: #f7f7f7;
}
.single-lesson-content input {
  margin-right: 15px;
}
.single-lesson-content p {
  font-size: 1.5em;
  margin-bottom: 0;
}
.single-lesson-content .label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.single-lesson-icons {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}
.single-lesson-content button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}
.single-lesson-icons svg {
  font-size: 20px;
  color: rgba(100, 100, 100, 0.8);
}
.single-lesson-content svg:hover {
  color: #000;
}
