.my-quiz {
	padding: 10px 20px 20px 20px;
}

.loading-div {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
	z-index: 999;
}

.Enrolled-courses .title h1 {
	font-size: 24px;
	font-weight: 600;
	margin: 15px 0;
}

.Enrolled-courses .title h2 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: 10px;
}

.title .stats {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 40px 0 60px 0;
}

.title .stats .card {
	box-shadow: rgba(50, 50, 93, 0.35) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.4) 0px 1px 3px -1px;
	border: none;
	margin-right: 15px;
	padding: 10px 20px;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
	text-align: center;
	width: 220px;
}

.title .stats .card span {
	font-size: 30px;
	font-weight: 600;
}

.title .stats .active {
	background-color: #006eff;
	color: #fff;
}

/* .course-cards .active-courses,
  .course-cards .completed-courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  } */

.single-course-card {
	width: 300px;
	height: 350px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	padding: 20px;
	border: none;
	border-radius: 10px;
	background-color: #fff;
	margin: 10px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.rec-carousel button {
	outline: none;
	background: inherit;
	border: none;
	margin: 0;
}
.rec-pagination button {
	display: none;
}
.single-course-image {
	width: 100%;
	height: 50%;
}

.single-course-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.single-course-title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 20px;
}

.single-course-author {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex: 2;
}

.single-course-author img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.single-course-author h2 {
	font-size: 0.9em;
	color: rgb(100, 100, 100);
	margin-bottom: 20px;
	margin-left: 0;
	font-weight: 550;
}

.single-course-author .quiz-description-details {
	max-height: 70px;
	overflow-y: scroll;
	flex: 1;
	font-weight: 600;
	color: gray;
}

.single-course-author .quiz-description-details::-webkit-scrollbar {
	display: none;
}

.single-course-author h5 {
	color: rgb(100, 100, 100);
	margin-bottom: 10px;
}

.single-course-card progress {
	width: 100%;
	margin: 10px auto;
}

.single-course-card .lessons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-top: 20px;
}

.single-course-card .lessons button {
	background-color: #006eff;
	color: #fff;
	font-size: 0.8em;
	font-weight: 500;
	border: none;
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 10px;
	width: 50px;
	cursor: pointer;
	outline: none;
}

.single-course-card .lessons .content {
	font-weight: 600;
	font-size: 0.8em;
}

.single-course-card p {
	margin-bottom: 10px;
}

@media only screen and (max-width: 565px) {
	.title {
		font-size: 0.5em;
	}
	.title .stats {
		align-items: center;
		flex-direction: column;
	}
	.title .stats > * {
		margin: 10px 0;
		font-size: 0.5em;
	}
}

.quiz-loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.5);
	display: grid;
	place-items: center;
}
.quiz-loader div {
	margin-right: 25px;
}

@media (max-width: 500px) {
	.my-quiz {
		padding-right: 5px;
		padding-left: 0px;
	}
	.my-quiz .rec-arrow {
		transform: scale(0.8);
	}
	.single-course-card {
		margin: 2px;
	}
}
@media (max-width: 500px) {
	.my-quiz .rec-arrow {
		transform: scale(0.6);
	}
}
