.edit-quiz-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9099;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.edit-quiz-modal-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 90vw;
  max-width: 500px;
  margin: auto;
  min-height: 200px;
  padding: 25px;
  position: relative;
}

.edit-quiz-modal-card > h2 {
  margin-bottom: 2rem;
}

.edit-quiz-modal-card .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  padding: 4px;
}
.edit-quiz-modal-card .close-btn:hover {
  background-color: #ddd;
}

.edit-quiz-modal-card .close-btn svg {
  font-size: 28px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.edit-quiz-modal-card .submit-btn {
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  color: white;
  background: #0069ed;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 5px;
}

.edit-quiz-form > * {
  display: block;
  width: 100%;
}

.edit-quiz-form label {
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin-left: 13vw;
  margin-right: 14vw;

  margin-bottom: 4vh;
}

.quiz-modal-title {
  display: flex;
  flex-direction: column;
}

.quiz-modal-des {
  display: flex;
  flex-direction: column;
}

.modal-label {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2vh;
  font-weight: 600;
}

.modal-input {
  margin-bottom: 2vh;
  height: 5vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-family: "Montserrat", sans-serif;
}

.create-group-button {
  background: #0069ed;
  border-width: 0px;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  cursor: pointer;
  margin-top: 3vh;
  border-radius: 15px;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
  margin-bottom: 1vh;
}

.quiz-group-message-message {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2vh;
  background: #d4e7f7;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  padding-right: 1vw;
  border-radius: 15px;
}
