.Dashboard {
  margin-left: 220px;
}

.dashboard-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

/* .dashboard-items .Courses {
  grid-column: 1/3;
  grid-row: 2/3;
}

.dashboard-items .Tasks {
  grid-column: 1/3;
  grid-row: 3/4;
}

.dashboard-items .box1 {
  grid-column: 3/4;
  grid-row: 2/4;
  height: auto;
}*/

.dashboard-items > div {
  height: 410px;
  background-color: rgb(239, 252, 253);
} 
/*
.dashboard-items > div:nth-child(4),
.dashboard-items > div:nth-child(6) {
  height: 380px;
}
.dashboard-items > div:nth-child(5) {
  height: 770px;
} */

@media (max-width: 900px) {
  .Dashboard {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .dashboard-items {
    display: block;
  }
  .dashboard-items > div:nth-child(n) {
    height: auto;
    margin-bottom: 10px;
  }
}
