.edit-quiz-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9099;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    place-items: center;
    overflow: scroll;
  }
  
  .edit-quiz-modal-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 90vw;
    max-width: 500px;
    margin: auto;
    min-height: 200px;
    padding: 25px;
    position: relative;
  }
  
  .edit-quiz-modal-card .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    display: grid;
    place-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50%;
    padding: 4px;
  }
  .edit-quiz-modal-card .close-btn:hover {
    background-color: #ddd;
  }
  
  .edit-quiz-modal-card .close-btn svg {
    font-size: 28px;
  }
  
  .edit-quiz-modal-card .submit-btn {
    display: grid;
    place-items: center;
    border: none;
    outline: none;
    color: white;
    background: rgb(0, 140, 255);
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  .edit-quiz-form > * {
    display: block;
    width: 100%;
  }
  
  .edit-quiz-form label {
    margin-bottom: 5px;
    font-weight: 600;
  }
  
  .edit-quiz-form input[type="text"],
  .edit-quiz-form input[type="datetime-local"] {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 5px 10px;
    outline: none;
  }
  
  .edit-quiz-form input[type="text"]::placeholder,
  .edit-quiz-form input[type="datetime-local"]::placeholder {
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    font-weight: 500;
  }

  .quiz--loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    display: grid;
    place-items: center;
    z-index: 9999;
  }
  .quiz--loader div {
    margin-right: 25px;
  }
