.schedule-class-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: grid;
  place-items: center;
}

.schedule-class-modal-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  width: 95vw;
  max-width: 500px;
  margin: auto;
  min-height: 200px;
  padding: 25px;
  position: relative;
}

.schedule-class-modal-card .close-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 10px 0 0;
  display: grid;
  place-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50%;
  padding: 4px;
}
.schedule-class-modal-card .close-btn:hover {
  background-color: #ddd;
}

.schedule-class-modal-card .close-btn svg {
  font-size: 28px;
}

.schedule-class-modal-card .submit-btn {
  display: grid;
  place-items: center;
  border: none;
  outline: none;
  color: white;
  background: rgb(0, 140, 255);
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 5px;
}

.schedule-class-form > * {
  display: block;
  width: 100%;
}

.schedule-class-form label {
  margin-bottom: 5px;
  font-weight: 500;
}

.schedule-class-form input[type="text"],
.schedule-class-form input[type="datetime-local"] {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 10px;
  outline: none;
}

.schedule-class-form input[type="text"]::placeholder,
.schedule-class-form input[type="datetime-local"]::placeholder {
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-weight: 500;
}

.schedule-class-modal-card select {
  margin-top: 5px;
  outline: none;
  cursor: pointer;
}

@media (max-width: 450px) {
  .schedule-class-modal-card {
    padding: 15px;
  }
}

.schedule-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
}
.schedule-loader div {
  margin-right: 25px;
}