.Courses {
	padding: 15px;
}

.Courses h2 {
	font-size: 1.4em;
	font-weight: 600;
	margin-bottom: 20px;
}

.course-cards {
	display: block;
	margin-bottom: 20px;
}
.course-cards::-webkit-scrollbar {
	display: none;
}

.Course {
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background-color: #fff;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	cursor: pointer;
	height: 125px;
	margin: 15px 0;
}

.Course .course-image {
	flex: 1;
	height: 100px;
}
.Course .course-image img {
	width: 100%;
	height: 100px;
	object-fit: cover;
}

.Course .course-content {
	flex: 1;
	margin-left: 20px;
}

.course-content h2 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 10px;
}
.course-content h3 {
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.6);
}
.course-content p {
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, 0.6);
}

.course-content {
	overflow-y: scroll;
	height: 95% !important;
}

.all-courses-btn {
	display: block;
	margin: auto;
	cursor: pointer;
	outline: none !important;
	border: none;
	font-weight: 500;
	font-size: 18px;
	padding: 5px 15px;
	color: slateblue;
	border-radius: 5px;
}

.all-courses-btn:hover {
	background-color: rgba(160, 156, 156, 0.397);
}

@media (max-width: 380px) {
	.course-cards {
		display: block;
	}
}
