.enrolled-student {
	position: relative;
	padding: 20px;
	background: rgb(234, 247, 250);
	min-height: calc(100vh - 14vh);
}

.enrolled-student-wrapper {
	display: grid;
	grid-gap: 10px;
	margin-top: 20px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	padding: 20px;
}
.enrolled-student-wrapper::-webkit-scrollbar {
	width: 5px;
}

.single-student {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px 10px;
	height: 200px;
	font-size: 1em;
	border-radius: 10px;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background: white;
}

.single-student .student-right {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-left: 20px;
	color: rgb(100, 100, 100);
}

.single-student .student-right > * {
	margin: 5px 0;
}
.student-progress {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.student-progress p {
	margin-right: 5px;
}
